<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/index_page.css">
    <link rel="stylesheet" href="/static/css/product.css">
     <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <title>Artistan</title>
  </head>
  <body >
        <!--------------------navbar start here-------------------------------------->

    <nav >
      <div class="logo"><a  href="/">Artistaan</a></div>
      <input type="checkbox" id="click">
      <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
      </label>
      <ul>
        {% if request.session.customer_email %}
        <li><a href="/logout">Logout </a></li>
        {% else %}
        <li><a  href="/login">Login</a></li>
        {% endif %}
        <li><a  href="/shop">Shop</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a  href="/cart">Cart</a></li>
        <li><a  href="/order">My Orders</a></li>
      </ul>
    </nav>
     <!--------------------navbar ends here-------------------------------------->
     <!-------------------countdown------------------>
     <div class="hero">
      <div class="content">
        <h2>Sale starts in </h2>
        <div class="countdown">00 : 00 : 00 : 00</div>
      </div>
    </div>
    <!-- Main -->
  
<!--------------------------countdown end in ------------------------>  

   <div class='parent_product'>
    
     {% for prd in products  %}

     <div class='product-card'>
      <div class='main-images'>
      <a href='/product/?prod_id={{prd.id}}' ><img  class=' active' src="{{prd.img1.url}}"></a>
      </div>
      <div class='product-details'>
        <br>
        <span class='product_name'><a href='/product/?prod_id={{prd.id}}' >{{ prd.name }}</a></span>

      </div>
      <div class='color-price'>
        <div class='color-option'>
          <span class='color'>Price:</span>
        </div>
        <div class='price'>
          <span class='price_num'>{{ prd.price }}</span>
        </div>
      </div>
      <div class='button'>
        <div class='button-layer'></div>
        
        <a href ='/product/?prod_id={{prd.id}}'><button >View Item </button></a>
        
      </div>
    </div>
    {% endfor %}
  </div>
 <script src="../static/js/index_page.js"></script>
</body>
</html>