<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/static/css/navbar.css">
  <link rel="stylesheet" href="/static/css/product_desc.css">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />

</head>

<body>
  
  <!--------------------navbar start here-------------------------------------->

  <nav>
    <div class="logo"><a href="/">Artistaan</a></div>
    <input type="checkbox" id="click">
    <label for="click" class="menu-btn">
      <i class="fas fa-bars"></i>
    </label>
    <ul>
      {% if request.session.customer_email %}
      <li><a href="/logout">Logout </a></li>
      {% else %}
      <li><a href="/login">Login</a></li>
      {% endif %}
      <li><a href="/shop">Shop</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/cart">Cart</a></li>
      <li><a href="/order">My Orders</a></li>
    </ul>
  </nav>
  <!--------------------navbar ends here-------------------------------------->


  <br><br><br>
  <div class="card-wrapper">
    <div class="card">
      <!-- card left -->
      <div class="product-imgs">
        <div class="img-display">
          <div class="img-showcase">
            <img src={{products.img1.url}} alt="shoe image">
            <img src={{products.img2.url}} alt="shoe image">
            <img src={{products.img3.url}} alt="shoe image">
          </div>
        </div>
        <div class="img-select">
          <div class="img-item">
            <a href="#" data-id="1">
              <img src={{products.img1.url}} alt=" image1">
            </a>
          </div>
          <div class="img-item">
            <a href="#" data-id="2">
              <img src={{products.img2.url}} alt=" image2">
            </a>
          </div>
          <div class="img-item">
            <a href="#" data-id="3">
              <img src={{products.img3.url}} alt=" image3">
            </a>
          </div>
        </div>
      </div>
      <!-- card right -->
      <div class="product-content">
        <h2 class="product-title">{{products.name}}</h2>
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <span>4.7(21)</span>
        </div>

        <div class="product-price">
          <p class="product-price">Price: <span>Rs {{ products.price}}</span></p>
        </div>

        <br><br>
        <div class="product-detail">
          <h2>about this item: </h2>
          <p>{{ products.desc}}</p>
          <ul>
            <li>Available: <span>in stock</span></li>
            <li>Category: <span>{{products.category}}</span></li>
            <li>Shipping Fee: <span>Free</span></li>
          </ul>
        </div>
        <br><br>
        <div class="purchase-info">
          <form method='POST' action='/product/' >
            {% csrf_token %}

            <input type="number" min="1" value="1" name='quantity'>
            <input hidden type="text" value="{{ products.id}}" name='product_id'>
            <button type="submit" class="btn">
              Add to Cart <i class="fas fa-shopping-cart"></i>
            </button>
          </form>

          <form method='POST' action='/compare/'>
            {% csrf_token %}
            <input hidden type="text" value="{{ products.id}}" name='p_id'>
            <button type="submit" class="btn" style="background-color:#39ace7;">
              Compare Item
            </button>
          </form>

        </div>


        <div class="social-links">
          <p>Share At: </p>
          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#">
            <i class="fab fa-whatsapp"></i>
          </a>
          <a href="#">
            <i class="fab fa-pinterest"></i>
          </a>
        </div>
      </div>
    </div>
  </div>


  <script src="../static/js/index_page.js"></script>
</body>

</html>