{% include 'header.html' %}
<section>
    <!--------------------card for profile start here-------------------------------------->

    <div class="profile-card">
        <p>Edit account</p>
                <!--------------------user profile photo -------------------------------------->
               <center> 
                    <form action="/edit/" method="POST"  >
                        {% csrf_token %}
                        <h2 style="color:red">{{error}}<h2>
                        <input  type="text" placeholder="Name" name="name" value="{{  users.name}}" required/>
                        <input  type="email" placeholder="Email" name="email" value="{{  users.email}}" required />
                        <input  type="password" placeholder="Enter Password" name="pass"  required/>
                        <input  type="text" placeholder="Mobile Number" name="phone" value="{{  users.phone}}" required />
                        <textarea  name="address" rows="3" cols="50" placeholder="Address"  required>{{users.address}}"</textarea>
                        <br><br><button type="submit">Save</button>
                    </form>
            
                <br>
                <br>
    </div>
   
</section>


</body>
</html>