{% include 'header.html' %}

{% load cart %}
<div class="wrapper">
    <h1>My Orders</h1>

    
    <div class="project">
        
        <div class="shop">
            {% for item in order %}
            <div class="box">
                <img src="{{item.img1.url}}">
                <div class="content">
                    <h3>{{item.productName}}</h3>
                    <h4>Price: ₹ {{item.price}}</h4>
                    <p class="unit">Quantity: <input name="" value="{{item.quantity}}"></p>
                    <p class="btn-area"><i aria-hidden="true" class="fa fa-trash"></i><span class="btn2" ><a href='/delete_cart/?pid={{item.id}}' id="remove" > Remove </a></span></p>

                </div>
            </div>
            {% endfor %}
        </div>
       
       
     
    </div>
</div>
</body>
</html>